<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hoja de Vida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hoja de Vida</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="welcome-message">
    <h1>Bienvenidos a mi Hoja de Vida</h1>
    <br> <img alt="Foto de CV" src="../../assets/AlejoCV.png"/>
    <br><p>Aquí podrán descubrir información relevante sobre mí.
      <br> Además verán mis conocimientos e intereses en la materia y carrera que estudio.
    </p>
  </div>
</ion-content>
