<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hoja de Vida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Intereses y Hobbies</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-message">
    <h1>Hobbies e intereses</h1>
    <p>En esta sección sabrán un poco más de mi y sobre las actividades que realizó en mi día a día.</p>
    <ul>
      <li>Actividades que realizo en mi tiempo libre
        <ul>
          <li>Hobbies:
            <ul>
              <li>Jugar fútbol</li>
              <li>Salir con amigos</li>
              <li>Escuchar música</li>
              <li>Leer</li>
            </ul>
          </li>
          <li>Intereses:
            <ul>
              <li>Aplicar mis habilidades técnicas y conocimientos</li>
              <li>Contribuir al desarrollo de soluciones tecnológicas que beneficien a la sociedad</li>
            </ul>
          </li>
          <li>Información extra
            <ul>
              <li>Tengo 4 hermanos</li>
              <li>Estoy soltero</li>
              <li>Tengo 21 años</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</ion-content>
